<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div>
  <div class="row">
    <label class="col-sm-1 control-label">Latitude:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="name" id="field-name" maxlength="50" [(ngModel)]="lat">
    </div>
    <label class="col-sm-1 control-label">Longitude:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="name" id="field-name" maxlength="50" [(ngModel)]="lng">
    </div>
  </div>
</div>

<sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker (markerClick)="loadMap()" [latitude]="lat" [longitude]="lng">

  </sebm-google-map-marker>
</sebm-google-map>

<div>
  <h1>Weather:</h1>
  <div class="row">    
    <div class="col-sm-2">
      Description:{{Desc}}            
    </div>    
  </div>
  <div class="row">    
    <div class="col-sm-2">      
      Temp:{{temp}}      
    </div>    
  </div>
  <div class="row">    
    <div class="col-sm-2">            
      Temp[max]:{{temp_max}}      
    </div>    
  </div>
  <div class="row">    
    <div class="col-sm-2">                  
      Temp[Min]:{{temp_min}}
    </div>    
  </div>

</div>